@import './_colors';

.restore-button {
  cursor: pointer;
  fill: $window-decoration-fill-color;
  padding: 2px;
  stroke: $window-decoration-border-color;
  stroke-width: 4px;

  &:hover {
    border: 2px outset;
    border-radius: 5px;
    padding: 0;
  }

  .restore-button-window-handle {
    fill: $window-decoration-border-color;
  }
}
