// Module Accents
$module-auditing-accent-color: #70a07a;
$module-checkout-accent-color: #ea7c0e;
$module-ecf-accent-color: #5c5c5b;
$module-image-accent-color: #c90017;
$module-issuance-accent-color: #744f81;
$module-messaging-accent-color: #d9b00c;
$module-personnel-accent-color: #797344;
$module-printing-accent-color: #5c5c5b;
$module-products-accent-color: #934c7c;
$module-purchases-accent-color: #80a414;
$module-sales-accent-color: #006bb5;
$module-selfconsultation-accent-color: #d071ac;
$module-stock-accent-color: #ac7851;
$module-symmetric-accent-color: #972953;
$module-tnsweb-accent-color: #98bf01;
$module-webservices-accent-color: #42506e;
$module-www-accent-color: #257b76;
