@import './colors';

.menu-section {
  align-items: center;
  background-color: $main-bg-color;
  display: flex;
  flex: 0 0 auto;
  justify-items: flex-start;
  padding: 2px;
  z-index: 1;

  &.dragging {
    border: 1px solid $main-border-color;
    filter: grayscale(75%);
    opacity: 90%;
    padding: 1px;
    pointer-events: none;
    z-index: 2;
  }

  &.hung {
    opacity: 0;
  }

  & > .handle {
    cursor: grab;
    font-size: smaller;
    font-stretch: ultra-condensed;
    user-select: none;
  }

  & > .menu-section-body {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-items: flex-start;
  }
}

.menu.vertical .menu-section {
  flex-direction: column;

  & > .handle {
    transform: rotate(90deg);
  }

  & > .menu-section-body {
    flex-direction: column;
  }
}
