.menu-section {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-items: flex-start;
  padding-top: 2px;
  padding-bottom: 2px;

  .handle {
    font-size: smaller;
    font-stretch: ultra-condensed;
    user-select: none;
  }
}

.menu.horizontal .menu-section {
  padding-top: 2px;
  padding-bottom: 2px;
}

.menu.vertical .menu-section {
  flex-direction: column;
  padding-inline: 2px;

  .handle {
    transform: rotate(90deg);
  }
}
