@import './colors';

.perspective-selector {
  border-radius: 5px;
  color: $button-label-fg-color;
  display: flex;
  margin: 2px;
  overflow: hidden;
  padding: 0;
  user-select: none;

  .label {
    border-right: 2px solid $button-label-fg-color;
    width: 100px;
    text-align: start;
    text-transform: uppercase;
  }

  .label, .shortcut {
    padding: 2px 5px;
  }
}
