@import './colors';

.tabbed-view-container {
  border: 1px solid $main-border-color;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  & > .tabbed-top {
    display: flex;
    flex: 0 0 auto;

    & > .tabs {
      display: flex;
      flex: 0 0 auto;
    }

    & > .actions {
      flex: 1 1 auto;
    }

    & > .actions, & > .decorations {
      border-bottom: 1px solid $main-border-color;
      display: flex;
    }

    & > .decorations {
      flex: 0 0 auto;
    }
  }

  & > .tabbed-view-content {
    display: flex;
    flex: 1 1 auto;

    & > .tab-content {
      border: 5px solid transparent;
      height: 100%;
      width: 100%;
    }
  }

  &:focus-within > .tabbed-view-content > .tab-content {
    border: 5px solid $main-focus-color;
  }
}
