$main-bg-color: #cecece;
$main-border-color: #000000;
$main-focus-color: #ffffff;
$button-label-bg-color: #8c8c8c;
$button-label-fg-color: #ffffff;
$tab-label-bg-color: #8c8c8c;
$tab-label-fg-color: #ffffff;
