@import './colors';

.perspective-menu-item {
  background-color: $main-bg-color;
  border: none;
  border-radius: 5px;
  display: flex;
  flex: 0 0 auto;
  margin: 2px;
  overflow: hidden;
  padding: 0;
  user-select: none;
  vertical-align: middle;

  .label {
    background-color: $button-label-bg-color;
  }

  .label, .shortcut {
    color: $button-label-fg-color;
    padding: 2px;
  }
}

@mixin colorize-perspective-menu-item($accentColor) {
  .perspective-menu-item .shortcut {
    background-color: $accentColor;
  }
}