@import './colors';

.perspective-selector {
  border-radius: 5px;
  color: $button-label-fg-color;
  display: flex;
  margin: 2px;
  overflow: hidden;
  padding: 0;
  user-select: none;

  .label {
    border-right: 2px solid $button-label-fg-color;
    text-transform: uppercase;
  }

  .label, .shortcut {
    padding: 2px;
  }
}

@mixin colorize-perspective-selector($accentColor) {
  .perspective-selector {
    background-color: $accentColor;
  }
}
