@import './colors';
@import './PerspectiveMenuItem';
@import './PerspectiveSelector';
@import './ViewSetLayout';

.perspective {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;

  .perspective-label, .perspective-menu-item {
    color: $button-label-fg-color;
  }

  & > .body {
    display: flex;
    flex: 1 1 auto;
  }
}

@mixin colorize-perspective($accentColor) {
  &.perspective {
    .perspective-label {
      background-color: $accentColor;
    }

    @include colorize-view-set-layout($accentColor);
    @include colorize-perspective-selector($accentColor);
    @include colorize-perspective-menu-item($accentColor);
  }
}
