@import './colors';
@import './ViewTab';

.tabbed-view-container {
  border: 1px solid $main-border-color;
  border-radius: 5px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  & > .tabbed-top {
    display: flex;
    flex: 0 0 auto;
    justify-items: flex-start;

    & > .tabs {
      display: flex;
      flex: 0 0 auto;
      justify-items: flex-start;
    }
  }

  & > .tabbed-view-content {
    border-top: 1px solid $main-border-color;
    display: flex;
    flex: 1 1 auto;

    & > .tab-content {
      border: 5px transparent;
      height: 100%;
      width: 100%;
    }
  }

  &:focus-within > .tabbed-view-content > .tab-content {
    border: 5px solid $main-focus-color;
  }
}

@mixin colorize-tabbed-view-container($accentColor) {
  @include colorize-view-tab($accentColor);
}