@import './colors';

.view-tab {
  display: flex;
  flex: 0 0 auto;
  margin-right: -5px;

  &:first-child .outline {
    padding-left: 5px;
  }
  &:last-child {
    margin-right: 0;
  }
  &:focus {
    .outline {
      background-color: $main-focus-color;
    }
    .selection-tail .shape {
      fill: $main-focus-color;
    }
  }
  .outline {
    background-color: $main-background-color;
    border-top-right-radius: 5px;
    border-right: 1px solid $main-border-color;
    border-top: 1px solid $main-border-color;
    display: flex;
    flex: 0 0 auto;
    padding: 2px 5px 2px 7px;

    .label {
      background-color: $tab-label-color;
      color: #ffffff;
      min-width: 100px;
    }
    .label, .shortcut {
      color: #ffffff;
      padding-inline: 5px;
      text-align: start;
      user-select: none;
    }
  }
  .selection-tail {
    .line {
      stroke: $main-border-color;
    }
    .shape {
      fill: $main-background-color;
    }
  }

  &.selected {
    &:not(:last-child) {
      .selection-tail {
        border-top: 1px solid black;
      }
    }
    .outline {
      border-right: none;
      border-top-right-radius: 0;
    }

    .selection-tail {
      border: none;
      height: 26px;
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;
      width: 25px;
    }
    + .view-tab .outline {
      border-top-left-radius: 0;
      margin-left: -4px;
    }
  }
  &:not(.selected) {
    .outline {
      border-right: 1px solid black;
      border-top-right-radius: 5px;
    }
  }
}

@mixin colorize-view-tab($accentColor) {
  .view-tab .shortcut {
    background-color: $accentColor;
  }
}
