@import './TabbedViewContainer';

.layout {
  display: flex;

  &.horizontal {
    flex-direction: row;
  }
  &.vertical {
    flex-direction: column;
  }

  .layout-content {
    display: flex;
    flex: 1 1 auto;
  }
}

@mixin colorize-view-set-layout($accentColor) {
  @include colorize-tabbed-view-container($accentColor);
}