@import './TabbedViewContainer';

.layout {
  display: flex;

  &.horizontal {
    flex-direction: row;

    .layout-separator {
      cursor: ew-resize;
    }
  }

  &.vertical {
    flex-direction: column;

    .layout-separator {
      cursor: ns-resize;
    }
  }

  .layout-content {
    display: flex;
    flex: 1 1 auto;
  }

  .layout-separator {
    min-height: 6px;
    min-width: 6px;
    transform: none !important;
    z-index: 1;
  }
}

@mixin colorize-view-set-layout($accentColor) {
  @include colorize-tabbed-view-container($accentColor);
}